* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgb(55, 52, 52);
}

main {
    color: white;
}

main h1 {
    color: red;
}

.bg-lightgrey {
    background-color: lightgrey;
}

.nav-link {
    color: red;
}

.nav-link:hover {
    color: black;
    font-weight: bold;
}

footer {
    color: red;
    background-color: #fefefe;
    bottom: 0;
    width: 100%;
}

.colorBlack {
    color: black;
}

footer div p {
    color: black;
}

.arendonk {
    color: red;
}